
body {
  height: 95vh;
  background-color: #111316;
  font-family: Arial;
  color: #FFFFFF;
}
.dashboard{
  height: 100vh;
}
.container-fluid{
  padding: 0 50px;
}
.header-search {
  background-color: #171A1D;
  height: 5.8vh !important;
}
.header-search input{
  float: right;
  clear: both;
  margin: 0 10px;
  height: 5vh !important;
  width: 20vw;
  padding: 0 20px;
  background-color: #15171A !important;
  border: none;
  font-size: 18px;
  color: #2b2e30;
}
.header-title {
  font-size: 1.6vh;
  letter-spacing: 8px;
  font-weight: 700;
  margin-top: 2.4vh;
  padding: 0 1vw;
}

.card {
  background-color: #15181B !important;
  box-shadow: 4px 4px #0C0E10;
  margin: 1.5vh 1vh;
}
.card .card-footer{
  background-color: #191C1F !important;
  color: #FFFFFF !important;
  font-size: 11px;
  border-top: #fff;
}
.card .card-text,
.card .card-body {
  font-size: 12px;
  letter-spacing: 1px;
}
.card .card-title{
  font-size: 1.5vh;
  font-weight: bold;
  letter-spacing: 2px;
}
.card-header {
  border: none;
  background-color: #15181B !important;
  margin-top: 10px !important;
  padding-bottom: 0px;
}

/* .highcharts-background{
  background-color:#16191B;
} */



.card .card-body .row .col-3 .rounded-pill{
  height: 10px;
  width: 70%;
}

.card .row .col{
  background-color: rgb(29, 32, 34);
  margin: 5px
}

.card .row .p-3{
  font-size: 14px;
}

.text-blue{
  font-size: 13px;
  font-weight: bold;
  color: rgb(93, 93, 175)
}

.text-green{
  font-size: 13px;
  font-weight: bold;
  color: rgb(79, 156, 79)
}

.text-white{
  font-size: 15px;
  font-weight: bold;
  color: rgb(248, 255, 248)
}

 .text-purple{
  font-size: 10px;
  font-weight: bold;
  color: purple
}

.card .card-box{
  font-size: 10px
}

.card .card-box .div{
  margin: 10px
}

.card .card-body .row .rounded-pill{
  height: 10px;
  width: 20px;
  background-color: blue;
  margin: 3px;
  margin-left: 10px;
}

.table {
  overflow: scroll;
}

.card .card-body .img {
  height: 15px;
}

.scroll-table {
  overflow: scroll;
  overflow-x: hidden;
}
.scroll-table::-webkit-scrollbar {
  width: 0.8vh;
}
.scroll-table::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color:  rgba(102, 101, 101, 0.3)
}
.scroll-table::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 20px;
}

.tick-down{
  color: #C11B12 !important;
  font-size: 90%;
}
.tick-up{
  color: #3BD445;
  font-size: 90%;
}

.presentation{
  background-color: #1e2022;
  border-width: 0;
  margin-bottom: 34px;
  margin-top: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 13px;
}


/* card styling */
.box-title{
  height: 16.5%;
}
.box-title .private{
  height: 60%;
  width: 50%;
  /* padding: 5px; */
  background-color: #191C24;
  text-justify: auto;
}

.kyc{
  height: 16.5%;
}
.kyc .card-footer span{
  font-size: 13px;
}

.financial-metrics{
  height: 24%;
}

/* Turnover */
.turnover{
  height: 40%;
}
.turnover .DarkTrace{
  background-color: #4f92ff;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}
.turnover .FireEye{
  background-color:  #35fc95;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}
.turnover .ForeScout{
  background-color: red;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}
.turnover .CyberArk{
  background-color: #70008c;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}
.turnover .Rapi{
  background-color:blue;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}

/*  */
.composite-scoring{
  height: 30%;
}
.composite-scoring .scroll-table{
  height: 60%;
}


/* News */
.news {
  height: 24%;
}
.news .card-header .news-box {
  padding: 0.5vh !important;
  margin-top: -10px;
}
.news .card-header .box-title {
  font-size: 1.1vh;
}
.news .box-content {
  padding-top: 0.6vh;
  font-size: 1.3vh;
  /* font-weight: 600; */
}
.news .card-body hr{
  padding: 0px;
  background-color:#1F2124;
  /* margin-top: -10px; */
  /* margin-bottom: 10px; */
}
.news .card-body{
  display: block;
  width: 590px;
  height: 20vh;
  padding: 0 20px;
}
.news .slider img{
  width: 175px;
  height: 80px;
}
.news .slider span{
  text-align: justify;
  font-size: 11px;
}
.news .slider p{
  margin-top: 5px;
  font-size: 11px;
}


/* Predictive Analyticcs */
.predictive-analytics{
  height: 40%;
}
.predictive-analytics h6{
  font-size: 1.3vh;
  font-weight: 500;
}
.predictive-analytics td{
  font-size: 1vh;
}

/* RCI */
.rci {
  height: 14%;
}
.rci .card-body{
  display: block;
  width: 590px;
}
.rci .slider{
  text-align: center;
}
.rci .slider img{
  width: 60px;
  margin-left: 40px;
}
.rci .slider p{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}