.container-fluid{
  padding: 0 50px;
}
.theme-dark {
  height: 1024px;
  background-color: #111316;
  color: #FFFFFF;
  font-family: Arial;
}
.theme-dark .header-search {
  background-color: #171A1D;
  height: 50px !important;
}
.theme-dark .header-search input{
  float: right;
  clear: both;
  margin: 0 10px;
  height: 50px !important;
  width: 20%;
  padding: 0 20px;
  background-color: #15171A !important;
  border: none;
  font-size: 18px;
  color: #2b2e30;
}
.theme-dark .header-title {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 5px;
  padding: 0 10px;
}
.theme-dark .card {
  background-color: #15181B !important;
  box-shadow: 4px 4px #0C0E10;
  margin: 10px;
}
.theme-dark .card .card-footer{
  background-color: #191C1F !important;
  color: #FFFFFF !important;
  font-size: 11px;
  border-top: #fff;
  height: 50px;
}
.theme-dark .card .card-text,
.theme-dark .card .card-body {
  font-size: 12px;
  letter-spacing: 1px;
}
.theme-dark .card .card-title{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}
.theme-dark .card-header {
  border: none;
  background-color: #15181B !important;
  margin-top: 10px !important;
  padding-bottom: 0px;
}

/* News */
.theme-dark .news .card-header .news-box {
  padding: 5px !important;
  margin-top: -10px;
}
.theme-dark .news .card-header .news-box .box-title {
  font-size: 11px;
}
.theme-dark .news .card-header .news-box .box-content {
  font-size: 13px;
  font-weight: 600;
}
.theme-dark .news .card-body hr{
  padding: 0px;
  background-color:#1F2124;
  margin-top: -10px;
  margin-bottom: 10px;
}
.theme-dark .news .card-body{
  display: block;
  width: 590px;
  height: 190px;
  padding: 0 20px;
}
.theme-dark .news .slider img{
  width: 175px;
  height: 80px;
}
.theme-dark .news .slider span{
  text-align: justify;
  font-size: 11px;
}
.theme-dark .news .slider p{
  margin-top: 5px;
  font-size: 11px;
}

/* .theme-dark .highcharts-background{
  background-color:#16191B;
} */

.theme-dark .kyc .card-footer span{
  font-size: 13px;
}

/* RCI */
.theme-dark .rci .card-body{
  display: block;
  width: 590px;
}
.theme-dark .rci .slider{
  text-align: center;
}
.theme-dark .rci .slider img{
  width: 60px;
  margin-left: 40px;
}
.theme-dark .rci .slider p{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
