
@media screen and (max-width: 2880px){
body {
  height: 95vh;
  background-color: #111316;
  font-family: Arial;
  color: #FFFFFF;
}

.container-fluid {
  padding: 0 2.5vw;
}

.header-search {
  background-color: #171A1D;
  height: 5.8vh !important;
}

.header-search input {
  float: right;
  clear: both;
  margin: 0 10px;
  height: 5.8vh !important;
  width: 20vw;
  padding: 0 3vw;
  background-color: #15171A !important;
  border: none;
  font-size: 18px;
  color: #2b2e30;
}
.header-search input:focus {
  outline: none !important;
  border: 2px solid #202022;
  box-shadow: 0 0 5px #202022;
  color: #fff;
}

.header-title {
  font-size: 1.6vh;
  letter-spacing: 8px;
  font-weight: 700;
  margin-top: 2.4vh;
  padding: 0 1vw;
}

.card {
  background-color: #15181B !important;
  box-shadow: 4px 4px #0C0E10;
  margin: 1.5vh 1vh;
}

.card .card-footer {
  background-color: #191C1F !important;
  color: #FFFFFF !important;
  font-size: 11px;
  border-top: #fff;
}

.card .card-text,
.card .card-body {
  font-size: 12px;
  letter-spacing: 1px;
}

.card .card-title {
  font-size: 1.5vh;
  font-weight: bold;
  letter-spacing: 0.2vh;
}

.card-header {
  border: none;
  background-color: #15181B !important;
  margin-top: 10px !important;
  padding-bottom: 0px;
}

/* .highcharts-background{
background-color:#16191B;
} */



.card .card-body .row .col-3 .rounded-pill {
  height: 10px;
  width: 70%;
}

.card .row .col {
  background-color: rgb(29, 32, 34);
  margin: 5px
}

.card .row .p-3 {
  font-size: 14px;
}

.text-blue {
  font-size: 13px;
  font-weight: bold;
  color: rgb(93, 93, 175)
}

.text-green {
  font-size: 13px;
  font-weight: bold;
  color: rgb(79, 156, 79)
}

.text-white {
  font-size: 15px;
  font-weight: bold;
  color: rgb(248, 255, 248)
}

.text-purple {
  font-size: 10px;
  font-weight: bold;
  color: purple
}

.card .card-box {
  font-size: 10px
}

.card .card-box .div {
  margin: 10px
}

.table {
  overflow: scroll;
}

.card .card-body .img {
  height: 15px;
}

.scroll-table {
  overflow: scroll;
  overflow-x: hidden;
}

.scroll-table::-webkit-scrollbar {
  width: 0.8vh;
}

.scroll-table::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(102, 101, 101, 0.3)
}

.scroll-table::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 20px;
}

.tick-down {
  color: #C11B12 !important;
  font-size: 80%;
}

.tick-up {
  color: #3BD445;
  font-size: 90%;
}

/* card styling */
.box-title {
  height: 17vh;
  font-size: 1vh;
}

.box-title .private {
  height: 60%;
  width: 50%;
  /* padding: 5px; */
  background-color: #191C24;
  text-justify: auto;
  font-size: 1.5vh;
}
.box-title .card-img-top {
  height: 5vh;
  width: 5vh;
}

/*  */
.financial-metrics {
  height: 25vh;
}
.financial-metrics .scroll-table {
  height: 19vh;
}

/* Turnover */
.turnover {
  height: 41vh;
}

.turnover .DarkTrace {
  background-color: #3275BE;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}

.turnover .FireEye {
  background-color: #15A47C;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}

.turnover .ForeScout {
  background-color: #A33236;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}

.turnover .CyberArk {
  background-color: #4C1B85;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}

.turnover .Rapid7 {
  background-color: #2922C9;
  width: 2.7vh;
  height: 0.8vh;
  border-radius: 1vh;
}

.turnover .presentation {
  background-color: #1e2022;
  border-width: 0;
  margin-bottom: 34px;
  margin-top: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 0.8vh;
}
.turnover .presentation .pt-1{
  padding-top: 0.5vh !important;
}
.turnover .presentation .pt-2{
  padding-top: 1vh !important;
}
.turnover .presentation .pt-3{
  padding-top: 3vh !important;
}
.turnover .presentation .pt-5{
  padding-top: 5vh !important;
}
.turnover .border-secondary{
  font-size: 0.8vh;
}

/*  */
.kyc {
  height: 17vh;
}
.kyc .card-footer{
  height: 5vh;
}


.kyc .card-footer p {
  font-size: 1.2vh;
}


/*  */
.web-analytics {
  height: 32vh;
}

/*  */
.composite-scoring {
  height: 34vh;
}
.composite-scoring h6 {
  margin-top: 2vh;
  font-size: 1.3vh;
  font-weight: 500;
}

.composite-scoring .scroll-table {
  height: 23vh;
}

tr:not(:last-child) td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 0.1vh solid rgba(102, 101, 101, 0.3);
  border-bottom: 0.1vh solid rgba(102, 101, 101, 0.3);
}

.composite-scoring  .card-body .row .rounded-pill {
  height: 1vh;
  width: 20px;
  background-color: #0F48FF;
  margin: 3px;
  margin-left: 10px;
}
.composite-scoring .scroll-table .rounded-pill{
  width: 5vh;
}


/* News */
.news {
  height: 26vh;
}

.news .card-header .news-box {
  padding: 0.5vh !important;
  margin-top: -1vh;
}

.news .card-header .text-muted {
  font-size: 1.1vh;
}

.news .box-content {
  padding-top: -2.6vh;
  font-size: 1.3vh;
  font-weight: 600;
}

.news .card-body hr {
  background-color: #1F2124;
}

.news .card-body {
  width: 30vw;
  height: 20vh;
}
.news .slider {
  padding: 0 0.7vh;
}
.news .slider img {
  width: 8.5vw;
  height: 8vh;
}

.news .slider span {
  text-align: justify;
  font-size: 0.8vh;
  margin-top: 5vh;
}

.news .slider p {
  margin-top: 0.5vh;
  font-size: 1vh;
}


/* Predictive Analyticcs */
.predictive-analytics {
  height: 41vh;
}
.predictive-analytics h6 {
  font-size: 1.3vh;
  font-weight: 500;
}
.predictive-analytics td {
  font-size: 1vh;
}
.predictive-analytics .scroll-table {
  height: 20vh;
  margin-top: -1vh;
}
.predictive-analytics .card-title img{
  height: 2vh;
  margin-top: -1vh;
}
.predictive-analytics .highcharts-container {
  width: 100%;
  height: 20% !important;
}

/* RCI */
.rci {
  height: 16vh;
}

.rci .card-body {
  display: block;
  width: 30vw;
}

.rci .slider {
  text-align: center;
}

.rci .slider img {
  width: 7vw;
}

.rci .slider p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
}