
.theme-dark {
  height: 1080px;
  background-color: #111316;
  color: #FFFFFF;
  font-family: Arial;
}
.theme-dark .header-search {
  background-color: #171A1D;
  height: 50px !important;
}
.theme-dark .header-search input{
  float: right;
  clear: both;
  margin: 0 10px;
  height: 50px !important;
  width: 20%;
  padding: 0 20px;
  background-color: #15171A !important;
  border: none;
  font-size: 18px;
  color: #2b2e30;
}
.theme-dark .header-title {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 700;
  margin: 0 10px;
  margin-top: 28px;
  margin-bottom: 5px;
}
.theme-dark .card {
  background-color: #15181B !important;
  box-shadow: 4px 4px #0C0E10;
  margin: 10px;
}
.theme-dark .card-header {
  border: none;
  background-color: #15181B !important;
  margin-top: 10px !important;
  padding-bottom: 0px;
}
.theme-dark .card .card-footer{
  background-color: #191C1F !important;
  color: #FFFFFF !important;
  font-size: 11px;
  border-top: #fff;
}
.theme-dark .card .card-text,
.theme-dark .card .card-body {
  font-size: 12px;
  letter-spacing: 1px;
}
.theme-dark .card .card-title{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.card .card-body .row .col-3 .rounded-pill{
  height: 10px;
  width: 70%;
}

.card .row .col{
  background-color: rgb(29, 32, 34);
  margin: 5px
}

.card .row .p-3{
  font-size: 14px;
}

.text-blue{
  font-size: 13px;
  font-weight: bold;
  color: rgb(93, 93, 175)
}

.text-green{
  font-size: 13px;
  font-weight: bold;
  color: rgb(79, 156, 79)
}

.text-white{
  font-size: 15px;
  font-weight: bold;
  color: rgb(248, 255, 248)
}

 .text-purple{
  font-size: 10px;
  font-weight: bold;
  color: purple
}

.card .card-box{
  font-size: 10px
}

.card .card-box .div{
  margin: 10px
}

.card .card-body .row .rounded-pill{
  height: 10px;
  width: 20px;
  background-color: blue;
  margin: 3px;
  margin-left: 10px;
}

.table {
  overflow: scroll;
}

.private{
  height: 50%;
  padding: 5px;
  background-color: rgb(31, 34, 37);
  text-justify: auto;
}

.card .card-body .img {
  height: 15px;
}

.scroll-table {
  overflow: scroll;
  overflow-x: hidden;
}
.scroll-table::-webkit-scrollbar {
  width: 10px;
}
.scroll-table::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color:  rgba(102, 101, 101, 0.3)
}
.scroll-table::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 20px;
}
